# ============================
# 🐳 Инфраструктура (Корень)
# ============================
*.log
docker-logs/

# Временные файлы окружения
.env
.env.local
docker-compose.override.yml

# ============================
# 📂 Модули
# ============================
transaction/.gitignore

# ============================
# 🗑️ Системное
# ============================
.DS_Store
Thumbs.db
*.swp
*.idea